{% extends "base.html" %}
{% load humanize %}
{% load months %}
{% block content %}
<p>This is <strong>Fantasy League Planet Birmingham</strong>! Basically, you get {{ budget|intcomma }} virtual pounds to buy a selection of five blogs from <a href="http://planet.birmingham.io/">Planet Birmingham</a>, and then whenever your blogs post or get linked to you get points. Encourage your friends to sign up and then mock them when you score more than they do!</p>
<p>{% if user and not user.is_anonymous %}You can <a href="{% url 'my-blogs' %}">{% ifequal my_blogs|length 5 %}edit your chosen blogs now{% else %}choose your five blogs now{% endifequal %}</a>{% else %}Simply <a href="{% url 'twitter_login' %}">sign in with Twitter to get started</a>{% endif %}.

<div class="box">
<h2>Recent events</h2>
<ul>
    {% for score in recent_scores %}
    <li><a href="{% url 'blog' score.post.blog.id %}">{{ score.reason }}, {{ score.post.blog.name }}</a> <span><date datetime="{{ score.created_date|date:"c" }}">{{ score.created_date|age }}</span></li>
    {% endfor %}
</ul>
</div>

<div class="box">
<h2>Top blogs this month so far</h2>
<ul>
    {% for item in top_blogs_this_month %}
    <li><a href="{% url 'blog' item.post__blog__id %}">{{ item.post__blog__name }}</a> <span>{{ item.total }}</span></li>
    {% endfor %}
</ul>
</div>

<div class="box leadingusers">
<h2>Leading users this month so far</h2>
<ul>
    {% for umc in highest_scorers_this_month %}
    <li><a href="{% url 'user' umc.1 %}"><img src="{% url 'twitter-image' umc.1 %}"> {{ umc.1 }}</a> <span>{{ umc.3|default_if_none:"0" }}</span></li>
    {% endfor %}
</ul>
</div>

<div class="box">
<h2>Top blogs ever<br><small>(average score per month)</small></h2>
<ul>
    {% for item in top_blogs_ever %}
    <li><a href="{% url 'blog' item.1 %}">{{ item.2 }}</a> <span>{{ item.0|floatformat }}</span></li>
    {% endfor %}
</ul>
</div>

<h2 class="qq">Some questions</h2>

<h3>What do I get points for?</h3>
<p>At the moment, if one of your blogs gets a new post, you get points, 
and if one blog on the Planet links to another, both the linking blog and the
linked-to blog get points.</p>
<p>Suggestions for other ways to score are invited: "get the blog link tweeted more
than three times" is on the list.</p>

<h3>Won't this encourage people to stick crap on their sites just to get points?</h3>
<p>Well. It might. But it's <em>your own website</em> you're polluting. If you're
honestly prepared to do that, then OK, but you may want to consider, I don't know,
getting a hobby or something.</p>

<h3>No, no, I don't mean that they write crap, I mean they write good stuff, in 
order to get points</h3>
<p>Then the Planet gets a lot better, right? Because everyone's writing 
quality stuff for everyone to read. This is not what one would call a problem.</p>

<h3>Can I buy my own low-priced blog and then post high-quality stuff on it, 
thus driving it up the rankings, so I can mock my friends when I beat them?</h3>
<p>Yes. Yes you can.</p>

<h3>How are the prices calculated?</h3>
<p>I've got an old man locked in a cellar with a bunch of I-Ching sticks.</p>

<h3>No, really, how are the prices calculated?</h3>
<p>Basically we work out the score that a theoretically perfect blog would get, and 
then tune the prices so that you can't quite afford to buy that perfect blog by
twiddling what we high-end mathematicians call a coefficient of fudgeness; 
everything else then works out proportionately. Probably. If Gordon Gekko shows
up then the algorithm might have to grow up a bit.</p>

<h3>No, really, what's the actual algorithm?</h3>
<p>Code's in <a href="https://github.com/stuartlangridge/flp">github</a>. Knock 
yourself out.</p>

<h3>Who built this?</h3>
<p><a href="http://www.twitter.com/sil">@sil</a> did.</p>

<div class="allblogs">

<p>You can choose from all the blogs on <a href="http://planet.birmingham.io/">Planet Birmingham</a>, and they're great. In addition to playing games, you should read them all. Thank you to everyone who lets us read and play: 
    {% regroup authors|dictsort:"blogname" by blogid as blogauthors %}
    {% for byblog in blogauthors %}
        {% if forloop.last %} and {% endif %}
        {% for detail in byblog.list|dictsort:"author" %}
            {% if forloop.last and byblog.list|length > 1 %} and {% endif %}{{ detail.author }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        from <a href="{% url 'blog' byblog.grouper %}">{{ byblog.list.0.blogname }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
    {% endfor %}

</p>
</div>
{% endblock %}

{% block style %}
.box {
    border: 1px solid #666;
    width: 200px;
    float: left;
    height: 20em;
    overflow: hidden;
    margin: 0 1em 1em 0;
}
.box h2 {
    margin: 0;
    font-size: 15px;
    text-align: center;
    background: #666;
    color: #eee;
    height: 3em;
    padding: 6px;
}
.box ul {
    margin: 10px 0 0 0;
    padding: 0;
}
.box li {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    font-size: 12px;
    overflow: auto;
    display: block;
}
.box li a {
    float: left;
    height: 4em;
    width: 140px;
    display: block;
    border-bottom: 1px dotted #666;
    overflow: hidden;
    padding: 0 10px;
}
.box li span {
    float: right;
    height: 4em;
    width: 40px;
    display: block;
    text-align: center;
    border-bottom: 1px dotted black;
}
.box li:last-child a, .box li:last-child span { border-width: 0; }
.qq { clear: left; padding-top: 4em; }
.allblogs {
    clear: left;
    padding-top: 8em;
    font-size: 0.8em;
}
.leadingusers img {
    width: 32px;
    height: 32px;
    vertical-align: top;
    border-width: 0;
}
{% endblock %}